<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Funk Culture</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Schrift -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<body>

<header class="hero image-hero">

  <div class="hero-bg"></div>

  <div class="overlay">
    <h1>Funk Culture</h1>
    <p>Funk Musik · Deutschland</p>

  </div>

</header>

<section id="music">
  <h2>Musik</h2>

  <!-- Youtube Embed -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/TNjttRn8bK8?si=KRWuvKbpevtwqe8f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>


<section id="about" class="section fade-in">
  <h2>Über uns</h2>

  <p class="intro">
    Wir sind <strong>Funk Culture</strong> – Funk Musik aus Deutschland.
    Inspiriert durch Geld.
  </p>

  <div class="band-grid">

    <div class="member fade-in">
      <img src="{{ url_for('static', filename='img/Julian.jpg') }}" alt="Name – Drums">
      <h3>Julian</h3>
      <span>Drums</span>
    </div>

    <div class="member fade-in">
      <img src="{{ url_for('static', filename='img/Aaron.jpg') }}" alt="Name – Drums">
      <h3>Aaron</h3>
      <span>Gesang/Keys</span>
    </div>

    <div class="member fade-in">
      <img src="{{ url_for('static', filename='img/Elli.jpg') }}" alt="Name – Drums">
      <h3>Elli</h3>
      <span>Saxophon</span>
    </div>

    <div class="member fade-in">
      <img src="{{ url_for('static', filename='img/Carlo.jpg') }}" alt="Name – Drums">
      <h3>Carlo</h3>
      <span>Bass/Gitarre/Keys</span>
    </div>

    <div class="member fade-in">
      <img src="{{ url_for('static', filename='img/Miran.jpg') }}" alt="Name – Drums">
      <h3>Miran</h3>
      <span>Bass</span>
    </div>

    <div class="member fade-in">
      <img src="{{ url_for('static', filename='img/Robin.jpg') }}" alt="Name – Drums">
      <h3>Robin</h3>
      <span>Percussion</span>
    </div>

  </div>
</section>

<section id="instagram" class="section fade-in">
  <h2>Instagram</h2>

  <a
    href="https://www.instagram.com/funkculture_music?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
    target="_blank"
    class="insta-link">
    @FUNK CULTURE
  </a>
</section>


<section id="contact">
  <h2>Kontakt</h2>
  <p>
    Booking & Anfragen:<br>
    <a href="mailto:booking@bandname.de">booking@bandname.de</a>
  </p>
</section>

<footer>
  <p>© BANDNAME · Impressum · Datenschutz</p>
</footer>

</body>
</html>
